#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Counter Assignment Styles */
.counterContainer {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #e9e9e9;
  width: 250px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.counter p {
  margin: 0px;
}
.count {
  font-size: 4rem;
  margin: 0px;
}
.counterButtons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.counterButtons * {
  cursor: pointer;
  border: 1px solid gray;
  padding: 5px 6px;
  border-radius: 3px;
  background-color: lightgray;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid {
  display: grid; /* Gap between rows and columns */
  grid-gap: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.cell {
  height: 100px;
  border-radius: 4px;
  border: thin solid black;
  text-align: center;
  width: 100%; /* Fill the entire width of the cell */
  box-sizing: border-box; /* Include padding in the width */
}
